<div class="w-100 bg-light flex-grow-1 d-flex flex-wrap py-5 overflow-auto">

  <div class="d-flex my-2 my-lg-0">
    <input 
  type="text" 
  [(ngModel)]="searchQuery" 
  [disabled]="isSearching"
  (input)="onSearch()" 
  placeholder="Search by food name" 
  />
  </div>

  @if(isSearching || initialLoading){
    <div>
        <div
      class="w-100 h-100 py-5 d-flex justify-content-center align-items-center h-100"
    >
      <div class="spinner-border text-warning p-4" role="status"></div>
    </div>
    </div>
  }
  

  @if(!recipes.length && !searchQuery && !isSearching && !initialLoading){
      Empty message

  } 
  
  @if(recipes.length) {
  <app-recipes-list
    [recipes]="recipes"
    (recipeId)="navigateToDetailedView($event)"
  ></app-recipes-list>

  }
  @if(!recipes.length && searchQuery) {
    <div>
    Can not Found
  </div>
  }
</div>
