/* You can add global styles to this file, and also import other style files */
.w-23px {
  width: 23px;
}
.h-23px {
  height: 23px;
}
.w-50vw {
  width: 50vw;
}
.mat-dialog-fulscreen {
  position: absolute !important;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vw;
  min-width: 100vw !important;
  min-height: 100vh !important;
  .mdc-dialog__surface {
    border-radius: 0px;
  }
}
.top-0 {
  top: 0px;
}
.left-0 {
  left: 0px;
}

.recipes-header {
  height: 60px;
  min-height: 60px;
}
.recipe-veiw-detail-img {
  height: 450px;
  min-height: 450px;
  background-size: cover;
  background-position: center;
}

.receipe-card {
  &:hover {
    -webkit-box-shadow: 0 0 10px gray;
    box-shadow: 0 0 10px gray;
    transition: all 0.15s linear;
    cursor: pointer;
  }
  .card-dish-img {
    height: 350px;
    min-height: 350px;
    background-size: cover;
    background-position: center;
  }
  .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
app-recipes,
app-recipe-detailed-view,
app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
app-recipes-list{
  display: flex;
  flex-wrap: wrap;
}
.alert-success{
  transition: all 0.15s linear;
  opacity: 0;
  &.active{
    opacity: 1;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// ng-submitted ng-untouched ng-pristine ng-invalid 
// ng-submitted ng-untouched ng-pristine ng-invalid

// form.ng-submitted.ng-invalid{
//   .ng-invalid{
//     border-color: #dc3545;
//     &:focus{
//       box-shadow: 0 0 0 .2rem rgba(220,53,69,.25);
//     }
//   }
// }
.ng-invalid.ng-touched{
  border-color: #dc3545;
  &:focus{
    box-shadow: 0 0 0 .2rem rgba(220,53,69,.25);
  }
}
.w-100px{
  width: 100px;
}